name: PR Title Validator

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: deepakputhraya/action-pr-title@master
        with:
          regex: '(\[([A-Z0-9]{2,}-[0-9]+)|(NO-TICKET)\])\s([A-Z\[].{3,})' # Regex the title should match.
          min_length: 10
          max_length: 60
          github_token: ${{ github.token }}
